.dropdowns {
    display: flex;
    margin: 20px 0;
}

.dropdownWrapper button {
    border: none;
    cursor: pointer;
    color: white;
}

.dropdownWrapper img {
    margin: 10px;
    transition: transform 150ms ease-in;
    z-index: 1;
}

.dropdownButton {
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.dropdownOpen {
    display: none;
    position: absolute;
    border-radius: 7px;
    overflow: hidden;
    z-index: 2;
}

.dropdownOpen input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
}

.optionWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dropdownOpen button {
    margin: 0;
    padding: 10px;
    justify-self: start;
}

.dropdownWrapper.ustensils button {
    background-color: #ED6454;
}

.dropdownWrapper.ustensils button[selected=true] {
    background-color: #782e26;
}

.dropdownWrapper.appliances button[selected=true] {
    background-color: #295b44;
}

.dropdownWrapper.ustensils button:hover {
    background-color: #93392f;
}

.dropdownWrapper.appliances button {
    background-color: #68D9A4;
}

.dropdownWrapper.appliances button:hover {
    background-color: #428c69;
}

.dropdownWrapper.appliances .dropdownOpen {
    background-color: #68D9A4;
}

.dropdownWrapper.ustensils .dropdownOpen {
    background-color: #ED6454;
}

.dropdownWrapper.ingredients * {
    background-color: #3282F7;
}