.recipesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.recipeCard {
    width: 350px;
    height: 100%;
}

.imagePlaceHolder {
    height: 200px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}

.infoWrapper {
    height: 290px;
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.cardHeader {
    font-weight: 600;
}

.cardHeader p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoWrapper .cardHeader,
.infoWrapper .ingredientsAndDescription {
    display: flex;
    justify-content: space-between;
}

.infoWrapper .ingredientsAndDescription {
    padding: 15px 0;
    gap: 10px;
}

.ingredients p {
    margin: 5px 0;
}

.ingredient {
    font-weight: 600;
}

.infoWrapper .ingredientsAndDescription>* {
    width: 50%;
}

.infoWrapper h2 {
    font-size: 1.2rem;
}